// Default colours:
$blue: #0D6EFD;
$orange: #E67E22;
$green: #1EDD88;
$gray: #0E0000;
$light-gray: #F4F4F4;
// $red: #FD1015;
// $yellow: #FFC65A;

// App colours:
$white: #ffffff;
$black: #000000;
$dark-grey: #4E4E50;
$red: #D72638;
$dark-orange: #F27C5B;
$light-orange: rgba(242,129,91,0.1);
$yellow: #FFC857;
