// Specific CSS for your home-pages
.booking_start_date {
  margin-bottom: 0 !important;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 50px;
}

.search-date {
  display: flex;
}

.date-submit{
  width: 70px;
}
.new_booking{
  width: 100%;
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: center;
}

.new_booking input::placeholder{
  opacity: 0.4;
  color: rgb(155, 143, 143);
  text-align: right;
}

.booking_end_date {
  margin-bottom: 0 !important;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 50px;
}

.landing_container {
  display: flex;
  width: 100dvw;
  height: 100dvh;
  margin: 0;
  padding: 0;
  object-fit: cover;
  background-image: url('landing.jpg');
  background-size: cover;
  background-position: center;
}

.landing_container .container {
  margin-bottom: 30px; /* Adjust this based on the space you want between the bottom of the viewport */
}
