<div class="landing_container">
  <div class="container d-flex justify-content-center flex-column ">
    <h1 class = "text-center mt-5" >Grill. Chill. Rent at will.</h1>
    <div class="row container w-100 mx-auto my-5">
      <%= simple_form_for(@booking, url: bbqs_path, method: :get) do |f| %>
        <div class="d-flex align-items-center justify-content-between border rounded  bg-white" style="height: 45px; width: 750px">
          <div class="search-date d-flex justify-content-center ">
            <%= f.input :start_date,
                        as: :string,
                        required: false,
                        placeholder: "Select date",
                        input_html: {
                          data: { controller: "datepicker" },
                          class: "border-0 text-center w-100 date-input",
                          },
                        label_html: {
                          class: "border-0 text-center ms-1 w-100 mb-0",
                          } %>
          </div>
          <div class="search-date d-flex justify-content-center">
            <%= f.input :end_date,
                        as: :string,
                        placeholder: "Select date",
                        required: false,
                        input_html: {
                          data: { controller: "datepicker" },
                            class: "border-0 text-center w-100"
                          },
                          label_html: {
                            class: "border-0 text-center ms-1 w-100 mb-0",
                          }
                          %>
          </div>
          <button type="submit" class="btn border-0 d-flex align-items-center date-sub">
            <i class="fas fa-search"></i> <!-- Font Awesome Search Icon -->
          </button>
        </div>
      <% end %>
    </div>
  </div>
</div>

<div class="container mx-auto d-flex justify-content-center flex-column mt-5 width">
  <div>
    <div class="row border-bottom border-secondary text-left mb-4">
      <h2>Today's Hot Grills</h2>
    </div>
    <%= render "shared/cards" %>
  </div>
</div>
