
<div class="container mx-auto w-75 d-flex justify-content-center flex-column ">
  <div class = "container">
    <div class="row my-5 text-center">
      <h1>Grill. Chill. Rent at will.</h1>
    </div>

  <div class="row container w-50 mx-auto my-5">
    <div class="row g-2">
      <div class="col-md-6">
        <%= f.input :start_date,
            as: :string,
            label: "Start Date",
            input_html: { data: { controller: "datepicker" }, class: "form-control" } %>
      </div>
      <div class="col-md-6">
        <%= f.input :end_date,
            as: :string,
            label: "End Date",
            input_html: { data: { controller: "datepicker" }, class: "form-control" } %>
      </div>
    </div>
      <%= f.submit "Search", class: "btn btn-primary w-40" %>
    <% end %>
    </div>
  </div>


    <div class="row text-center">
      <h2>Featured barbeques</h2>
    </div>
<%= render "shared/cards" %>
</div>
