<div class="page-body">
  <div class="my-bbqs-bookings-container">
    <div class="my-bbqs-bookings-headers">
      <h1>My BBQs
        <% if current_user.bbqs.nil? %>
          <%= "(0)" %>
        <% else %>
          <%= "(#{current_user.bbqs.count})" %>
        <% end %>
      </h1>

      <%= link_to "Add BBQ", new_bbq_path, class: "btn btn-primary" %>
    </div>

    <%= render "shared/cards" %>
  </div>
</div>


