.my-bookings {
  display: flex;
  flex-direction: column;
}

.cards-horizontal {
  margin-top: 20px;
  overflow: hidden;
  height: 160px;
  background: white;
  box-shadow: 0 0 5px rgba(0,0,0,0.2);
  display: flex;
  align-items: center;
}

.cards-horizontal {
  transition: transform 0.2s ease-in-out;
}

.cards-horizontal:hover {
  transform: scale(1.025);
}

.cards-horizontal-link {
  text-decoration: none;
  color: inherit;
  display: block;
}

.cards-horizontal-image {
  height: 160px;
  width: 240px;
  margin-bottom: 0;
  object-position: center;
  object-fit: cover;
}

.cards-horizontal-card-info {
  padding: 16px;
  width: 95%
}

.cards-horizontal-card-info h3 {
  font-size: 2rem;
  font-weight: 500px;
  margin-top: 16px;
  margin-bottom: 0px;
}

.cards-horizontal-card-info h4 {
  color: $dark-orange;
  font-size: 0.9rem;
  font-weight: normal;
  margin-top: 8px;
}

.cards-horizontal-card-info p {
  font-size: 0.75rem;
  line-height: 1.4;
  opacity: .7;
  margin-bottom: 0;
}

.cards-horizontal-card-info p:last-child {
  margin-top: 16px;
  margin-bottom: 8px;
}

.cards-horizontal-price {
  text-align: right;
  margin-left: auto;
  font-size: 1rem;
  font-weight: 600;
  display: block;
}

.truncate-text {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 97%;
  display: block;
}

.booking-info-buttons-container {
  display: flex;
  justify-content: space-between;
  align-items: end;
}

.booking-buttons-container {
  margin-left: 20px;
}

.booking-icon {
  color: grey;
  font-size: 12px;
  margin-bottom: 26px;
}
