.form-container {
  width: 500px;
  margin: 20px auto;
}

.form-container h2 {
  margin-bottom: 20px;
}

.form-button {
  width: 120px;
  font-weight: 500;
  margin-top: 20px;
}

.other-options {
  margin-top: 10px;
  text-decoration: none;
}

.other-options .form-link {
  text-decoration: none;
  color: grey;
}
