.mapboxgl-popup-content {
  text-align: center;
  font-family: "Open Sans", sans-serif;
  padding: 10px;
  border-radius: 8px;
}

.mapboxgl-popup-content h2 {
  font-size: 16px;
  margin: 0;
  color: #333;
}

.mapboxgl-popup-content p {
  font-size: 14px;
  margin: 4px 0;
  color: #666;
}

.mapboxgl-popup-content h4 {
  font-size: 14px;
  margin-top: 8px;
  font-weight: bold;
  color: #d9534f;
}
