.navbar-smoke-n-go {
  justify-content: space-between;
  background: $dark-grey;
  height: 72px;
}

.navbar-smoke-n-go .navbar-collapse {
  flex-grow: 0;
}

.navbar-smoke-n-go .navbar-brand img {
  width: 40px;
}

.navbar-brand {
  text-decoration: none;
  color: $dark-orange;
  font-size: 36px;
  font-weight: bold;
  text-align: center;
  margin: 0px;
  padding: 8px;
}

.nav-item {
  padding-right: 20px;
}

.nav-item:last-child {
  padding: 0px;
}

.nav-link {
  color: $dark-orange;
}
