<div style="width: 1000px; margin: 0 auto;">
  <h1 class="py-3">Available Barbecues</h1>

  <% if params["booking"][:start_date].present? && params["booking"][:end_date].present? %>
    <p>Showing availability from <strong><%= params["booking"][:start_date] %></strong> to <strong><%= params["booking"][:end_date] %></strong></p>
  <% end %>

  <%= render "shared/cards" %>


</div>
